@media screen and (max-device-width: 480px) and (orientation: portrait) {
  div.App {
    width: 100%;
    float: left;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  div.App {
    width: 100%;
    float: left;
  }
}

@media screen and (min-width: 1024px){
  div.App {
    width: 100%;
    float: left;
  }
}

html{
  min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eceff1;
}

div.App{
  background-color: #eceff1;
  min-height: 100%;
    margin: 0;
    padding: 0;

}

header > h1 {
  text-align: left;
  font-family: Bevan;
  font-size: 50px;
  padding-left: 15px;
}


header > nav {
  text-align: right;
  font-family: Roboto;
  text-decoration: none;
  background-color: #102027;
  padding: 20px;

}

.hero-title {
  text-align: center;
  font-family: Teko;
  font-size: 50px;
}

.selling-points{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.point-1 {
  grid-column: 1;
  grid-row: 2/5;
  padding-left: 10px;
}

.point-title-1 {
  font-size: 27px;
  text-align: center;
  font-family: Teko, sans-serif;
  margin-bottom: 5px;
}

.point-description-1 {
  font-family: Roboto, sans-serif;
  color: #102027;
  margin-top: 5px;
  padding-left: 11px;
}

.point-2 {
  grid-column: 1/5;
  grid-row: 5;
  padding-right: 10px;
}

.point-title-2 {
  text-align: center;
  font-size: 27px;
  font-family: Teko, sans-serif;
  margin-bottom: 5px;
}

.point-description-2 {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #102027;
  margin-top: 5px;
}

.point-3 {
  grid-column: 3;
  grid-row: 2/5;
  padding-bottom: 10px;
}

.point-title-3 {
  text-align: left;
  font-size: 27px;
  padding-right: 11px;
  font-family: Teko, sans-serif;
  margin-bottom: 5px;
}

.point-description-3 {
  text-align: left;
  padding-right: 11px;
  font-family: Roboto, sans-serif;
  color: #102027;
  margin-top: 5px;
}

.library {
  text-align: center;
  font-family: Oswald;
}

.album{
    font-family: Oswald;
    text-align: center;
}

.album-details{
  color: #021a40;
}

table.song-player{
  font-size: 18px;
	font-weight: 200;
  margin-left:auto;
  margin-right:auto;
}

#album-cover-art {
  padding:1px;
  border:2px solid #021a40;
  background-color:##37474f;
  border-radius: 25px;
  height: 315px;
	position: relative;
	width: 315px;
}

#album-image{
  padding:1px;
  border:2px solid #021a40;
  background-color:##37474f;
  border-radius: 25px;
  height: 315px;
	position: relative;
	width: 315px;
}

.album-details{
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

#volume-control{
 display: inline-flex;
 align-items: center;
 font-size: 30px;
 margin-left:auto;
 margin-right:auto;
}

#time-control{
  display: flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
}

#buttons{
  border: 2px solid #021a40;
  border-radius: 10px;
  width: 25%;
  display: flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  height: 40px;
}
